body {
    background-color: whitesmoke;
}

.turret-road-regular {
    font-family: "Turret Road", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 0.1rem;
    padding-bottom: 0;
}

.navbar a {
    text-decoration: none;
    color: blueviolet;
    font-family: 'protest riot';
    border: 2px solid transparent;
    padding: 0.2rem;
}

.navbar a:hover {
    border: 2px solid blueviolet;
    color: whitesmoke;
    background-color: blueviolet;
}

#logo-png:hover {
    background-color:whitesmoke;
    border: 2px solid transparent;
}

#logo-png {
    margin-left: 2.5rem;
}

#contact-us {
    margin-right: 2.5rem;
}
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
.main {
    background-image: url(./resources/pexels-mike-gonzález-2167890.jpg);
    height: 50rem;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main {
    color: white;
    text-align: center;
}

.main h2 , p {
    color: white;
    margin-top: 0;
    background-color: black;
    position: relative;
    top: 10rem;
}

.main h2 {
    font-family: 'Turret Road';
    padding: 1.5rem;
    font-size: 2.3rem;
}

.main p {
    padding: 1.1rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}


  
